
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

h1,h2,h3 {
  font-weight: 700;
}

h4,h5,h6 {
  font-weight: 500;
}

#bTitle {
  width: 70%;
  height: 4px;
}

/* buttons */
.btn-outline-secondary {
  background-color: transparent !important;
  border-color: #011627 !important;
  color: #011627 !important;
  border-radius: 0;
  position: relative;
}

.btn-outline-secondary:before {
  content: '';
  position: absolute;
  background-color: #FABFBF;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  z-index: -1;
  transition: 0.5s;
}

.btn-outline-secondary:hover:before {
  width:100%;
}

.btn-secondary {
  background: #011627 !important;
  border-radius: 0;
  border-color: #011627 !important;
}

.btn-secondary:hover {
  color: #FF7474 !important;
} 

.btn-primary {
  background: #FF7474 !important;
  border-radius: 0;
  border-color: #FF7474 !important;
  color: #011627 !important;
}

.btn-primary:hover {
  background: #011627 !important;
  color: #FF7474 !important;
}

#bmain {
  margin-right: 13px;
}
/*images*/

/*Navbar*/

.navbar {
  background: rgb(255, 255, 255);
  border-bottom: 1px solid #eee;
}

.nav-link,
.navbar-brand {
  color: #011627;
  margin-right: 1em !important;
}

.nav-link:hover,
.navbar-brand:hover {
  color: #FF7474;
}

.navbar-brand {
  font-size: 1.8rem;
}

/* Call to action */
.call-to-action {
  background: rgb(205, 227, 255);
  color: #fafaff;
}

.heading-line {
  height: 3px;
  width: 10%;
  background: #FF7474;
}

/*information*/
.light {
  color: white;
  background: rgb(255, 211, 211);
  height: 300px;
}

.light i {
  font-size: 1.3rem;
  color: white;
}

.dark {
  color: black;
  background: #f2f3f3;
  height: 300px;
}

.dark i {
  font-size: 1.3rem;
  color: black;
}

.information .img-fluid {
  height: 300px;
  object-fit: cover;
}

.information .col-lg-3 {
  position: relative;
}

.filter {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #83f3ed;
  opacity: 0.8;
}

/*footer*/
.footer {
  background: rgb(250, 190, 198);
  color: #fafaff;
}

.footer a {
  color: #fafaff;
}

/* Responsive */

@media(max-width: 900px) {
  .navbar .nav-item {
    display:block;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
  }
  #submitButton {
    justify-content: center !important;
    align-content: center !important;
    text-align: center !important;
    margin-left: 7em;
  }
  .map-container {
    width: 100%;
  }

  #logo {
    height: 0.8em;
  }
  .call-to-action .container {
    width: 100% !important;
  }
}