<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js" type="text/javascript"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="../static/styles/main.css">
        <link rel="stylesheet" type="text/css" href="../static/styles/index.css">
        <link rel="stylesheet" type="text/css" href="../static/styles/map.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
        <title>Hospital Predictor</title>
        <link rel="shortcut icon" href="../static/img/logo.svg" height="100">
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/infobubble.js') }}" type="text/javascript"></script>
        <script type="text/javascript">
            var onloadCallback = function() {
              grecaptcha.render('html_element', {
                'sitekey' : '6LcvhPEUAAAAAH3B0VMbitKJ6w79sPBW4wXRWJxr'
              });
            };
          </script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container px-0">
                <!--<a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='.././static/img/logov4.svg')}}" height="33vh" id="logo"></a>-->
                <a class="navbar-brand" href="#"><img src="../static/img/logo.svg" height="80" id="logo"></a>
                <h5 min-width="900px" id="main-name">Hospital Predictor</h5>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#map">Map</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#add-data">Add Data</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-secondary" href="#contact-us">Contact Us</a>
                        </li>   
                    </ul>
                </div>
            </div>
        </nav>

        <section class="home container mb-5 mt-5 pb-2 pt-1" id="home">
            <div class="row mt-5 mx-0">
                <div class="col-lg-6 my-auto">
                    <div class="row mx-0">
                        <div class="home-content offset-lg-0 col-lg-10">
                            <h1 class="pb-2 mt-5">Find out how your local hospital is doing in light of COVID-19</h1>
                            <div class="heading-line" id="bTitle"></div>
                            <p class="pb-3 mt-4"> In such uncertain times, we at Hospital Predictor would like to provide valuable <b>crowd-sourced data</b> about how your local hospital is doing while flattening the curve.
                                With data at our disposal, we can keep ourselves and our community more informed.<br>
                                Let's band together and come out as a better, stronger and more data driven community. Find out more by clicking the links below:</p>
                            <button class="btn btn-lg btn-secondary" id="heat-map-btn" href="#map">Explore the Heat Map</button>
                            <button class="btn btn-lg btn-secondary" id="add-data-btn" href="#add=data">Add Data</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-5 py-5 pl-5 hospitalBG">
                    <!--<img class="img-fluid" alt="" src="{{ url_for('static', filename='img/hospitalOrange.svg') }}">-->
                    <img class="img-fluid" alt="" src="../static/img/hospitalO.svg">
                </div>
            </div>
        </section>

        <section class="call-to-action py-5">
            <div class="container text-center w-80">
                <h2 class="py-3" style="color:rgb(19, 18, 18)">How do we get our data?</h2>
                <div class="mx-auto heading-line"></div>
                <p class="py-3" style="color:rgb(24, 24, 24)">Currently, estimated hospital occupancy rates are based on public feedback received from survey participants. We understand that crowdsourced data collection may not provide the most accurate and up-to-date statistics regarding the actual state of Canadian hospitals. We hope only to provide a rough estimate on a bigger picture.</p>
                <p class="py-3" style="color:rgb(24, 24, 24)">Hospital bed count provided by the <a href="https://www.cihi.ca/en/covid-19-resources"> Canadian Institute for Health Information</a>. Canadian COVID-19 cases data is provided by <a href="https://github.com/ishaberry/Covid19Canada"></p>
                <div class="row mb-4 mt-5">
                    <div class="col-md-4 light d-flex align-items-center justify-content-center">
                        <div class="text-center">
                            <h4 class="py-3" style="color:rgb(228, 65, 65)">Follow us to get live updates!
                            </h4>
                            <a class="m-2" href="#"><i class="fa fa-facebook"></i></a>
                            <a class="m-2" href="#"><i class="fa fa-instagram"></i></a>
                            <a class="m-2" href="#"><i class="fa fa-twitter"></i></a>
                            <a class="m-2" href="#"><i class="fa fa-google"></i></a>
                        </div>
                    </div>
                    <div class="col-md-8 d-flex align-items-center justify-content-center pl-5">
                        <img src="../static/img/ambulance.svg" id="ambulance">
                    </div>
                </div>
            </div>
        </section>
        <section class="cindyMap pt-5 map" id="map">
            <div class="container text-center w-80">
                <h1>Map</h1>
                <p>Use the heat map to explore how your local hospital is dealing with COVID-19. Search for your local hospital or hover over the icon to see the overview of the <b>bed occupancy rate at each hospital</b>. <br>The more data we can have, the more accurate information about the map we can provide.</a></p>
                
                <div id="map-div"></div>
                <div id="search_box">
                    <input id="pac-input" type="text" placeholder="Search for a hospital">
                </div>
                <div style="display:none">
                    <div class="controls zoom-control">
                        <button class="zoom-control-in" title="Zoom In">+</button>
                        <button class="zoom-control-out" title="Zoom Out">-</button>
                    </div>
                    <div class="controls toggle-control">
                        <button class="btn-toggle-heatmap" title="Toggle Heatmap" onclick="toggleHeatmap()">Toggle Heatmap</button>
                        <button class="btn-toggle-heatmap" title="Toggle Cases" onclick="toggleHeatmap2()">Toggle Cases</button>
                        <button class="btn-toggle-markers" title="Toggle Markers" onclick="toggleMarkers()">Toggle Markers</button>
                    </div>
                </div>
                
            </div>
        </section>
        <section class="landing" id="add-data">
            <div class="container py-5">
                <div class="row py-5 middle-text">
                    <header class="text-left inside-text py-5 col-lg-6">
                        <h1 class="mb-4 pr-4">Add Data</h1>
                        <p class="lead mb-0">Contribute to our data set and help us provide better data!</p>
                        <p class="pt-3"> We rely on data from individuals like you to make our maps have the latest, most up to date information.
                            We use your data to estimate the bed occupancy rates in hospitals across Canada.
                        </p>
                        
                    </header>
                    <div class="inside-text text-right col-lg-6 py-5">
                        <p>
                                <div class="typeform-widget" data-url="https://dhritiaravind.typeform.com/to/xR0Xw4" style="width: 100%; height: 500px;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
                        </p>
                    </div>
                </div>
            </div>
        </section>

         <section class="about-container mb-5 mt-5" id="about">
         <table>
            <tr>
                <div class="row mx-0">
                    <div class="col-lg-4 my-auto side-color mt-5">
                        <img src="../static/img/circleHosppital.svg" class="img-fluid mt-5 pt-5">
                    </div>
                    <div class="col-lg-8 my-auto">
                        <div class="row mx-0">
                            <div class="col-lg-10 pl-3 text-left offset-lg-1">
                                <h1 class="pb-2 mt-5">Learn more about us and our team!</h1>
                                <p class="pb-3 mt-4">We're just a pair of university students trying to make a positive impact during a dark time. We believe data is power and we hope with this new found abilty, to allow 
                                    patients to be more informed about the hospitals near them.
                                </p>
                                
                            </div>
                        </div>
                        <div class="row mx-0 mt-3">
                            <div class="col-lg-10 pl-3 text-left offset-lg-1">
                                <div class="row my-0 mt-3">
                                    <div class="col-lg-6 my-auto pt-3" id="personOne">
                                        <h3 class="text-center">Cindy Li</h3>
                                        <img src="../static/img/cindy.jpg" id="cindy" class="mx-auto pb-2">
                                        <p class="mt-3 py-3">Cindy Li is a first year Mechatronics student at the University of Waterloo. She primarily focused on developing the backend.</p>
                                        <div class="text-center mb-5">
                                            <a class="m-2" href="https://www.linkedin.com/in/cindy-li-50856a169/"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 my-auto pt-3" id="personTwo">
                                        <h3 class="text-center">Dhriti Aravind</h3>
                                        <img src="../static/img/deeee.jpeg" id="dee" class="mx-auto pb-2">
                                        <p class="mt-3 py-3"> Dhriti Aravind is a first year Computer Systems Engineering student at Carleton University who enjoys UI/UX design.</p>
                                        <div class="text-center mb-5">
                                            <a class="m-2" href="https://www.linkedin.com/in/dhriti-dee-aravind-10b61b18a/"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </tr>
         </table>
        </section>            
    </div>
        
        <!--Contact US-->
        <section class="contact" id="contact-us">
            <div class="container">
                <div class="text-center py-5">
                    <h2 class="py-3">Contact Us</h2>
                    <div class="mx-auto heading-line"></div>
                </div>
                <div align="center">
                    <form action="?" method="POST">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input id="email" class="form-control" type="email" aria-describedby="emailHint" placeholder="Enter email">
                            <small id="emailHint" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input id="name" class="form-control" type="text" placeholder="Enter name">
                        </div>
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea id="message" class="form-control" placeholder="Enter message" rows="5"></textarea>
                        </div>
                        <button type="submit" class="btn btn-lg btn-outline-secondary" id="submitButton">Submit</button>
                        <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
                    </form>
                </div>

            </div>
        </section>
        <!--Footer-->
        
        <footer class="footer mt-5">
            <div class="text-center py-5">
                <h2 class="">Hospital Predictor</h2>
                <div class="mx-auto heading-line"></div>
            </div>
            <div class="container text-center justify-content-center w-80">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link text-center" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#map">Map</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#add-data">Add Data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact-us">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="copyright text-center py-3 border-top">
                <p>Made by Dee Aravind & Cindy Li &copy; 2020</p>
            </div>
        </footer>

        <!-- Scripts -->
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/map.js') }}"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ maps_api_key }}&libraries=visualization,places&callback=init_map"
                type="text/javascript"></script>
            
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
        
        <!-- Button events -->
        <script type="text/javascript">
            $(document).ready(function() {
                $("#heat-map-btn").click(function() {
                    window.location.href = "{{ url_for('index') }}" + "#map";
                });
                $("#add-data-btn").click(function() {
                    window.location.href = "{{ url_for('index') }}" + "#add-data";
                });
                $("#submitButton").click(function() {
                    window.location.href = "{{ url_for('error_page') }}";
                });
            });
        </script>
    </body>
</html>